* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Animation start here */
li.nav-item a {
  display: block;
  color: #ffffff;
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative; /* Add position relative for the underline */
}

li.nav-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff; /* Color of the underline */
  transform: scaleX(0); /* Initial scale to hide the underline */
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out; /* Add animation to the underline */
}

li.nav-item a:hover::before {
  transform: scaleX(1); /* Scale the underline to full width on hover */
  transform-origin: bottom left;
}


body {
  background-color: #191919 !important;
  overflow-x: hidden;
}
/* navbar part here */
ul {
  list-style-type: none;
}

.navigation{
  display: none;
}

.navigation li{
  font-size: 1rem !important;
}

/* navbar logo */
._imgLogo_container > img {
  width: 140px;
}

._imgLogo_container {
  position: absolute;
  left: 10px;
  top: 3px;
}

.top1 {
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: 0.8s all ease-in-out;
  top: 0px;
  background: #191919;
  opacity: 60%;
}

.top1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
  padding: 20px 0px;
  font-family: Montserrat;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
}

.navigation > li > a {
  color: #fff !important;
}

/* shop nav */
.shop {
  font-family: Montserrat;
  font-size: 13px;
  width: 100px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 0px;
  /* top: -14px; */
  margin-left: 12px;
  transition: 0.3s all ease;
}

.shop > p > a {
  color: #fff;
}

.shop > p {
  text-align: center;
  position: relative;
  top: 30px;
}

.b1 {
  border-top: 1px solid white;
}

.b2 {
  border-left: 1px solid white;
  height: 15px;
}
.b3 {
  border-right: 1px solid white;
  height: 15px;
  position: relative;
  top: -15px;
}
.b4 {
  border-bottom: 1px solid white;
  height: 15px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

a {
  text-decoration: none;
  color: white;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom {
  position: absolute;
  /* top: 0;s */
  bottom: 0;
  left: 0;
}

.top > img {
  width: 140px;
  object-fit: contain;
}

.bottom > img {
  object-fit: contain;
  width: 150px;
}

.container {
  position: relative;
}

.container_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.first > h1 {
  color: white;
  padding-bottom: 10px;
  font-size: 2.9rem;
  letter-spacing: 2px;
  font-size: Montserrat;
}

.container_center > p {
  color: white;
  padding: 10px 0px;
}

.container > img {
  width: 100%;
}

.line {
  width: 240px;
  height: 4px;
  background-color: white;
  margin: auto;
}

.first {
  padding-bottom: 20px;
}

/* second part here */

.card1 {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card1:hover {
  transform: scale(1.2);
}

.container1 {
  transition: 0.3s ease-in-out;
}

.card1 > img {
  object-fit: contain;
  position: relative;
  width: 310px;
  /* height: 303px; */
  transition: transform 0.3s ease;
}

.card1:hover .card1 > img {
  transform: translateY(-20px); /* Move content up on hover */
}

.secondContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0px;
  flex-wrap: wrap;
}

.card1 > p {
  width: 20rem;
  margin: auto;
  color: #fff;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 175% */
  padding: 5px 0px;
  text-align: justify;
}

.date {
  font-size: 0.7rem !important;
  font-family: Josefin Sans;
}

/* pagination start here */

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px 0px;
}

/* Pagination item styles */
.pagination li {
  margin: 5px;
  padding: 5px 10px;
  background-color: gray;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* Active page style */
.pagination li.active {
  background-color: gray;
}

/* Create the flex container with a 50% width */
.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 80;
  /* border: 1px solid #ccc; */
  /* gap: 2px; */
  margin-top: 30px;
}

/* Style the flex items */
.item {
  flex: 1;
  padding: 20px;
  height: auto;
  text-align: center;
  /* background-color: #fff; */
  /* border: 1px solid #999; */
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer part here */


footer {
  background-image: url("./images/footer/shopFooter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center center;
  color: #fff;
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}

.footer_logo {
  width: 200px;
  margin: 30px 0px;
}

.footer_first {
  width: 400px;
  /* background-color: red; */
}

.footer_first > p {
  font-family: Montserrat;
  font-size: 13px;
}

/*  */
.footer_second > ul > li {
  margin: 20px 0px;
  font-family: Montserrat;
  font-size: 13px;
  cursor: pointer;
}

/*  */
.footer_third > ul > li {
  margin: 20px 0px;
  font-family: Montserrat;
  font-size: 13px;
  cursor: pointer;
}

.footer_fourth > ul > li {
  margin: 20px 0px;
  font-family: Montserrat;
  font-size: 13px;
  cursor: pointer;
}

.footer_fourth > ul > li > .fa-brands {
  font-size: 1.2rem;
  padding: 0px 10px;
  cursor: pointer;
}

/*  */
.footer_div_center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  background-color: #000000b2;
  width: 95%;
  margin: auto;
  height: 10vh;
  padding: 5px;
}

.footer_div_center_one {
  width: 52rem;
}

.footer_div_center_two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: Montserrat;
  font-size: 13px;
}

.footer_a1 {
  text-decoration: underline;
  cursor: pointer;
}

.footer_a2 {
  background-color: #868687;
  border-radius: 2px;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
}

/* animation start here */
/* Keyframes for the left card animation */
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Keyframes for the right card animation */
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply animations to the cards */
.left-card {
  animation: slideFromLeft 2s ease-in-out;
}

.right-card {
  animation: slideFromRight 2s ease-in-out;
}

/* text animation  */
/* Define the animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Apply the animation to the text */
.text-animation {
  animation: fadeInOut 3s ease-in-out infinite; /* Use 'infinite' for continuous looping */
  text-align: center;
  /* font-size: 36px; */
}

/* responsive here media query here */

@media (max-width: 700px) {
  .card1:hover {
    transform: scale(1); /* Set the scale to 1 to disable the hover animation */
  }

  .card1:hover .card1 > img {
    transform: translateY(0); /* Reset the content translation */
  }

  .card1 p {
    /* width: 100%; */
    text-align: center;
    font-size: 11px;
  }

  .container img {
    width: 100vw;
  }

  .container1 {
    width: 100%;
  }

  .line {
    height: 2px;
    width: 150px;
    background-color: #fff;
    /* width: auto; */
  }
  .first > h1 {
    font-size: 1.1rem;
  }

  .top > img {
    width: 75px;
  }

  .bottom > img {
    width: 75px;
  }

  .container_center {
    width: 70%;
  }

  .container_center > p {
    font-size: 0.7rem;
    padding: 0;
    text-align: center;
    padding: 3px 0px;
  }
}

@media (max-width: 1000px) {
  .card1 > p {
    text-align: center;
    /* width: 100%; */
    margin: auto;
  }
}

@media (max-width: 900px) {
  /* nav and footer */

  .top1{
    background-color: transparent !important;
    opacity: 1;
  }

  .footer_container {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .footer_logo {
    width: 150px;
    margin: auto;
  }

  .footer_div_center {
    display: none;
  }
  .footer_first > p {
    font-family: Montserrat;
    font-size: 13px;
    padding: 20px 40px;
}

  .top ul {
    opacity: 0;
    /* flex-direction: column; */
    display: none;
  }

  .footer_second > ul{
    margin-top: 20px;
   }

  .left_top {
    display: none;
  }

  .left_bottom {
    display: none;
  }

  .toogle {
    position: relative;
    background: url("./images/home/bar.png");
    height: 35px;
    width: 35px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    display: block;
  }

  .toogle.active {
    position: relative;
    background: url("./images/home/close.png");
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 5px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    z-index: 999;
  }

  .navigation {
    opacity: 0;
  }

  /* target this class then run toggle navigation */
  ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url("./images//home/image1.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-top: 50%; */
    transition: 0.3s all ease-in-out;
    z-index: 100;
    opacity: 10;
  }
  ul.navigation.active li {
    margin: 10px;
  }

  .shop {
    display: none;
  }

  ._imgLogo_container {
    display: none;
  }
}

@media (max-width: 400px) {
  .contact_dinner_logo {
    width: 100px;
  }

  .footer_first > p {
    font-size: 0.6rem;
    padding: 0px 70px;
    text-align: center;
  }

  .footer_second > ul > li {
    font-size: 0.6rem;
  }

  .footer_third > ul > li {
    font-size: 0.6rem;
  }

  .footer_fourth > ul > li {
    font-size: 0.6rem;
  }

  .footer_fourth > ul > li > .fa-brands {
    font-size: 0.6rem;
  }

  .footer_logo {
    width: 100px;
    margin: 10px 0px;
  }

  .card1 > p {
    font-size: 0.6rem;
    padding: 10px;
  }

  .pagination{
    padding: 0;
    margin: 0;
  }

  .pagination > li{
    padding: 5px
  }
}
