* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/contact/Contact\ Us.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* navbar logo */
._imgLogo_container > img {
  width: 110px;
}

._imgLogo_container {
  position: absolute;
  left: 10px;
  top: 3px;
}

.top {
  /* position: absolute; */
  width: 100%;
}

.top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
  padding: 20px 0px;
  font-family: Montserrat;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
}

.navigation > li > a {
  color: #fff !important;
}

.navigation {
  display: none;
}

/* shop nav */
.shop {
  font-family: Montserrat;
  font-size: 13px;
  width: 100px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 0px;
  /* top: -14px; */
  margin-left: 12px;
  transition: 0.3s all ease;
}

.shop > p > a {
  color: #fff;
}

.shop > p {
  text-align: center;
  position: relative;
  top: 30px;
}

.b1 {
  border-top: 1px solid white;
}

.b2 {
  border-left: 1px solid white;
  height: 15px;
}
.b3 {
  border-right: 1px solid white;
  height: 15px;
  position: relative;
  top: -15px;
}
.b4 {
  border-bottom: 1px solid white;
  height: 15px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.child_contact_dinner_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 60%;
  margin: auto;
  color: white;
  padding: 20px;
  transition: 0.3s all ease;
}

.contact_dinner_logo {
  width: 250px;
}

.content_container {
  margin-top: 25px;
  width: 100%;
}

.p1 {
  font-family: Montserrat;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
}

.p2 {
  letter-spacing: 2px;
}

/* start */

.bottom_container {
  color: rgb(211, 211, 211);
  font-size: 14px;
  padding-top: 7px;
  font-family: Montserrat;
  text-align: justify;
}

.form_container_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* margin-top: 20px; */
}

.column {
  flex: 1;
  padding: 10px;
}

.column input[type="text"],
.column textarea,
.column select {
  width: 100%;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 5px;
  margin-bottom: 5px;
}

.column input[type="text"]::placeholder,
.column textarea::placeholder {
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  font-family: Roboto;
}

.child_form_container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* margin-top: 20px; */
}

.column.reson0 {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: space-between; /* Align content to the top */
  align-items: center; /* Align content to the left */
}

.gender-label p {
  font-size: 14px;
  padding-bottom: 1px;
  font-size: Roboto;
}

.radio-buttons {
  display: flex;
  gap: 4px;
  /* border-bottom: 1px solid #fff; */
}

.radio-buttons::before {
  content: "";
  height: 1px;
  width: 95%;
  background-color: #fff;
  position: absolute;
  /* bottom: 0; */
  left: 8px;
  top: 36px;
}

.radio-buttons input[type="radio"] {
  margin-bottom: 5px; /* Add margin between radio buttons */
}

.radio-buttons label {
  font-size: 12px;
  font-family: Roboto;
}

/* third part here */

.seContainer > div > label {
  font-family: Montserrat;
  font-size: 14px;
}

.seContainer > div {
  margin: 7px 0px;
}

.seContainer > p {
  margin-bottom: 10px;
  margin-top: 7px;
}

/* 2 */

.se1Container {
  margin: 24px 0px;
}

.se1Container > div > label {
  font-family: Montserrat;
  font-size: 14px;
}

.se1Container > div {
  margin: 7px 0px;
}

.se1Container > p {
  margin-bottom: 10px;
  margin-top: 7px;
}

.choose {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
}
.choose::placeholder {
  color: #fff;
  font-family: Montserrat;
}

.choosediv {
  margin-bottom: 17px;
}

.btn {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.btn a button {
  width: 100%;
  height: 35px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #fff;
  margin: 10px 0px;
  cursor: pointer;
}

.input-hidden {
  display: none;
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 6px 5px;
  border: 1px solid #fff;
  width: 150px;
  /* margin-top: 15px; */
}

.upload_p {
  font-size: 12px;
  font-family: Montserrat;
  margin-bottom: 5px;
}

.form_container_y2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}

.sms {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.sm_content {
  padding-left: 15px;
  padding-bottom: 20px;
}

.sms p {
  font-family: Montserrat;
  font-size: 13px;
}

.footer {
  background-image: url("../images/footer/shopFooter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center center;
  height: 100%;
  color: #fff;
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}

.footer_logo {
  width: 200px;
  margin: 30px 0px;
}

.footer_first {
  width: 400px;
  /* background-color: red; */
}

.footer_first > p {
  font-family: Montserrat;
  font-size: 13px;
}

/*  */
.footer_second > ul > li {
  margin: 20px 0px;
  font-family: Montserrat;
  font-size: 13px;
  cursor: pointer;
}

/*  */
.footer_third > ul > li {
  margin: 20px 0px;
  font-family: Montserrat;
  font-size: 13px;
  cursor: pointer;
}

.footer_fourth > ul > li {
  margin: 20px 0px;
  font-family: Montserrat;
  font-size: 13px;
  cursor: pointer;
}

.footer_fourth > ul > li > .fa-brands {
  font-size: 1.2rem;
  padding: 0px 10px;
  cursor: pointer;
}

/*  */
.footer_div_center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  background-color: #000000b2;
  width: 95%;
  margin: auto;
  height: 10vh;
  padding: 5px;
}

.footer_div_center_one {
  width: 52rem;
}

.footer_div_center_two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: Montserrat;
  font-size: 13px;
}

.footer_a1 {
  text-decoration: underline;
  cursor: pointer;
}

.footer_a2 {
  background-color: #868687;
  border-radius: 2px;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
}

/* Navbar Animation start here */
li.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative; /* Add position relative for the underline */
}

li.nav-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff; /* Color of the underline */
  transform: scaleX(0); /* Initial scale to hide the underline */
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out; /* Add animation to the underline */
}

li.nav-item a:hover::before {
  transform: scaleX(1); /* Scale the underline to full width on hover */
  transform-origin: bottom left;
}

/* Keyframes for the left card animation */
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.left-card {
  animation: slideFromLeft 2s ease-in-out;
}

.right-card {
  animation: slideFromRight 2s ease-in-out;
}

@keyframes slideFromBottom {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: calc(50% - 50px);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    top: -100px;
  }
  100% {
    top: calc(50% - 50px);
  }
}

/* text animation  */
/* Define the animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Apply the animation to the text */
.text-animation {
  animation: fadeInOut 3s ease-in-out infinite; /* Use 'infinite' for continuous looping */
  text-align: center;
  /* font-size: 36px; */
}

.animated-element2s {
  position: absolute;
  bottom: -100px;
  animation: slideFromBottom 2s ease-in-out forwards;
  /* top: 220px; */
}

/* top */
.animated-element1s {
  width: 55%;
  margin: auto;
  margin-top: 240px;
  position: absolute;
  top: -100px;
  animation: slideFromTop 2s ease-in-out forwards;
}

/* media query csss here */

@media (max-width: 900px) {
  .form_container_2 {
    flex-direction: column;
  }

  .content_container {
    /* margin-top: 25px; */
    width: 100%;
    /* position: relative;
    top: -300px; */
  }

  .child_form_container2 {
    flex-direction: column;
  }

  .child_contact_dinner_container {
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
  }

  .contact_dinner_logo {
    width: 150px;
    /* position: absolute;
    top: 0px; */
    padding: 20px 0px;
  }
  .p1,
  .p2 {
    text-align: center;
    font-size: 0.9rem;
  }

  .sm_content {
    padding: 0px;
    margin-bottom: 25px;
  }

  .seContainer > p {
    text-align: center;

    font-size: 0.8rem;
  }

  .seContainer > div > div > label {
    font-size: 0.8rem;
  }

  .res_se {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }

  .se1Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .se1Container > p {
    text-align: center;
    font-size: 0.8rem;
    padding: 0px 15px;
  }

  .se1Container > div {
    text-align: center;
    padding: 0px 5px;
  }

  .se1Container > div > label {
    font-size: 0.8rem;
  }

  .form_container_y2 {
    flex-direction: column;
  }

  .file-upload {
    margin: auto;
    cursor: pointer;
  }
  .sms {
    margin: 5px 0px;
    padding: 0;
    text-align: center;
    align-items: center;
    padding: 0px 6px;
  }

  .sms p {
    font-size: 0.7rem;
  }

  .custom-file-label {
    font-size: 0.8rem;
    cursor: pointer;
  }

  .upload-icon {
    font-size: 0.8rem;
  }

  .sm-resi {
    padding-top: 20px;
  }

  /* nav and footer */
  .footer_container {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .footer_first > p {
    font-family: Montserrat;
    font-size: 13px;
    padding: 20px 40px;
  }

  .footer_logo {
    width: 150px;
    margin: auto;
  }

  .footer_div_center {
    display: none;
  }

  .top ul {
    opacity: 0;
    /* flex-direction: column; */
    display: none;
  }

  .left_top {
    display: none;
  }

  .left_bottom {
    display: none;
  }

  .toogle {
    position: relative;
    background: url("../images/home/bar.png");
    height: 35px;
    width: 35px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    display: block;
  }

  .toogle.active {
    position: relative;
    background: url("../images/home/close.png");
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 5px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    z-index: 999;
  }

  .navigation {
    display: block;
    /* overflow-x: hidden; */
  }

  /* target this class then run toggle navigation */
  ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url("../images/home/Listbox\ →\ Option\ →\ Figure.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-top: 50%; */
    transition: 0.3s all ease-in-out;
    z-index: 100;
    opacity: 10;
  }
  ul.navigation.active li {
    margin: 10px;
  }

  .shop {
    display: none;
  }

  ._imgLogo_container {
    display: none;
  }

  .sms {
    justify-content: center;
    align-items: center;
  }

  .footer_second > ul{
    margin-top: 20px;
   }
}

@media (max-width: 400px) {
  .p1,
  .p2 {
    font-size: 0.6rem;
  }

  .contact_dinner_logo {
    width: 100px;
  }

  .res_se > div > label {
    font-size: 0.7rem !important;
  }

  .se1Container > p {
    font-size: 0.6rem;
  }

  .se1Container > div > label {
    font-size: 0.6rem;
  }

  .choosediv > input::placeholder {
    font-size: 0.6rem !important;
  }

  .upload_p {
    font-size: 0.6rem;
  }

  .sms > p {
    font-size: 0.6rem;
    margin: 0px 30px;
  }

  .sms {
    text-align: center;
  }

  .gender-label > p {
    font-size: 0.6rem;
  }

  .column > select {
    font-size: 0.6rem;
  }

  .footer_first > p {
    font-size: 0.6rem;
    padding: 0px 70px;
    text-align: center;
  }

  .footer_second > ul > li {
    font-size: 0.6rem;
  }

  .footer_third > ul > li {
    font-size: 0.6rem;
  }

  .footer_fourth > ul > li {
    font-size: 0.6rem;
  }

  .footer_fourth > ul > li > .fa-brands {
    font-size: 0.6rem;
  }

  .footer_logo {
    width: 100px;
    margin: 10px 0px;
  }
}
